
@import "../bloques/variables";
@import "../base/listas";
@import "../base/mixin";
@import "../base/extends";

.ancho-pagina{
    width: 98%;
}

.position-center{
    @extend %flex;
}

.top-padding{
    padding: 20px 0px 0px 0px;
}

.documentos-footer{
    font-size: 18px;
    font-family: 'oswald', sans-serif;
}

.contacto-footer{
    font-size: 18px;
    font-family: 'kanit', sans-serif; 
}

.hover:hover{
    font-weight: bold;
    padding: 5px;
    background-color: nth($colores,2);
    color: nth($colores,3);
}