


.header-bg{
    background-color: nth($colores, 2);
}


.redes{
    max-width: auto;
    height: 30px;
}

.universidad{
    max-width:auto;
    height: 50px;
}

.centro{
    display: flex;
    justify-content: space-around;
}

.espacio-gap{
    gap: 0 10%;
}

.color-texto{
    color: white;
}
